Package: openssl-windows
Version: 1.1.1d-2
Architecture: x64-windows-static
Multi-Arch: same
Abi: 73a31b1afceac349c51e836b5eb831e0b234e177
Description: OpenSSL is an open source project that provides a robust, commercial-grade, and full-featured toolkit for the Transport Layer Security (TLS) and Secure Sockets Layer (SSL) protocols. It is also a general-purpose cryptography library.
Type: Port
